*{
    margin: 0%;
    padding: 0%;
}

h1{
    margin-top: 1rem;
    text-align: center;
}

.img-div{
    text-align: center;
    margin-top: 5rem;
}

.img-div p{
    margin-top: 1rem;
    font-size: medium;
}

/* interface */
.block{
    /* position: relative; */
    height: 41.8rem;
    width: 100%;
    background-color: blue;
    display: flex;
}

#editor-area{
    width: 100%;
}
.htmledit{
    height: 41.8rem;
    width: 20%;
    background-color: aqua;
}

.csseditor{
    /* position: absolute; */
    height: 41.8rem;
    width: 20%;
    background-color: aqua;
    right: 0;
    float: right;
}

#editor-area{
    /* background-color: black; */
    /* color: blanchedalmond; */
    width: 60%;
    height: 60%;
    outline: none;
}