/* * {
    margin: 0%;
    padding: 0%;
} */

.splash-heading {
    color: white;
    margin-top: 3.5rem;
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#htss {
    color: white;
    text-align: center;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 35px;
    margin-top: 3rem;
    font-weight: bolder;
    text-decoration: underline;
}

body {
    background-image: url("images/background.gif");
    /* transform: rotate(45deg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
}

.splash-bg {
    /* position: relative; */
    background-image: url("images/splashbg.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /* margin-top: 89px; */
}

.intro {
    color: aliceblue;
    font-size: 25px;
    padding: 30px 80px;
}

.img-div {
    text-align: center;
    margin-top: 5rem;
}

#main-image {
    opacity: 0.8;
    filter: contrast(2);
}

.img-div p {
    margin: 2.32rem 0;
    font-size: 25px;
    color: white;
}


/* interface */

.block {
    /* position: relative; */
    height: 41.8rem;
    width: 100%;
    background-color: blue;
    display: flex;
}

#editor-area {
    width: 100%;
}

.htmledit {
    height: 41.8rem;
    width: 20%;
    background-color: aqua;
}

.csseditor {
    /* position: absolute; */
    height: 41.8rem;
    width: 20%;
    background-color: aqua;
    right: 0;
    float: right;
}

#editor-area {
    /* background-color: black; */
    /* color: blanchedalmond; */
    width: 60%;
    height: 60%;
    outline: none;
}